<%
    var thispage = {
        pagename    : 'LANDING PAGE',
        pagecss     : 'landingpage'
    }
%><!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><%= params.sitename %> - <%= thispage.pagename %></title>
    
<%- include('../tpl/head.ejs', { thispage:thispage }) %>
</head>
<body>
<%- include('../tpl/header.ejs') %>
    <main>
    <%= thispage.pagename %>
    </main>
<%- include('../tpl/footer.ejs') %>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
<script type="text/javascript" src="../assets/js/innovation"></script>
<script type="text/javascript" src="assets/js/innovation"></script>
</body>
</html>